language: python
python:
  - 2.7
  - 3.6
  - 3.7
  - 3.8
  - pypy
  - pypy3
script:
  - coverage run -m zope.testrunner --test-path=src  --auto-color --auto-progress
  - coverage run -m sphinx -b doctest -d docs/_build/doctrees docs docs/_build/doctests
env:
  global:
    - PYTHONHASHSEED=1042466059
    - ZOPE_INTERFACE_STRICT_IRO=1

after_success:
  - coveralls
notifications:
  email: dev-regression-tests@nextthought.com

install:
  - pip install -U pip setuptools
  - pip install -U coveralls coverage
  - pip install -U -e ".[test]"


cache: pip

before_cache:
    - rm -f $HOME/.cache/pip/log/debug.log
